<form method="post" action="/" class="signup-earlyaccess">
  <input type="text" id="address" placeholder="Enter Your E-Mail" />
  <button type="submit" class="button special big">Get Early Access!</button>
</form>
