  <%= form_tag(controller: "homes", action: "create", method: "post" ) do %>
    <div class=class="signup-earlyaccess">
      <%= text_field_tag "email", "", placeholder: "name@email.com"%>
    </div>
      <%= submit_tag"Subscribe Now", class: "button special big" %>
    <% end %>
